
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 70px;
  background-color: lightblue;
  border-radius: 2em;
  
  
}

textarea label{
  display: block;


}

textarea {
  margin-top: 5px;
  padding: 9px 19px;
  margin-bottom: 10px;
  font-size: 2em;
  width: 97%;
  border-radius: 1.5em;
  border-width: 3px;
}
label{
  font-size: 25px;
  text-align: left;
  font:5em bold;
  font-family: cursive;
}

button[type="submit"] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 2px;
  cursor: pointer;
  font-size: 18px;
  float: left;
  border-radius: 1.5em;
  border-width: 2px ;
  border-color: green;
}

ol{
  font-size :1.5em; 
}

